<h1>Your links</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Target URL</th>
    <th>Created At</th>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.slug %></td>
      <td><%= link.target_url %></td>
      <td><%= link.created_at %></td>
      <td><%= link_to 'edit this link', "/links/#{link.id}/edit" %>
      <td><%= link_to 'delete this link', "/links/#{link.id}", method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Log out', '/users/sign_out', method: :delete %>